DOCKER_HOST=/var/run/docker.sock
PUBLIC_WS_URL=ws://localhost:8080
SOCKET_PATH=/var/run/docker.sock

GOOGLE_CLIENT_ID="your google client id"
GOOGLE_CLIENT_SECRET="your google client secret"

AUTH_SECRET="generated auth secret (use vercel auth secret generator)"

DATABASE_URL="postgresql://user:password@localhost:5432/databasename?schema=public"

MISTRAL_API_KEY="your ai api key"
OPENROUTER_API_KEY= "your ai api key"
